body {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  display: none;
}

.meme-header {
  margin-bottom: 1rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.meme-header:hover {
  cursor: pointer;
}

.close {
  display: none;
}

.accordion {
  padding: 1.5rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0059d9;
}

/* input:checked + .meme-label {
  background: #1a252f;
} */

input:checked ~ .meme-content {
  max-height: 100vh;
  padding: 1em;
}

input:checked ~ label {
  color: #1a252f;
}

input:checked ~ label.plus {
  display: none;
}

input:checked ~ label.close {
  display: block;
}

.meme-img {
  width: 20rem;
}

.meme:hover {
  cursor: pointer;
  color: #1a252f;
}

.meme:hover .plus {
  display: none;
}

.meme:hover .close {
  display: block;
}

/* Mobile */
@media screen and (min-width: 320) {
}

/* Tablet */
@media screen and (min-width: 820) {
}

/* Desktop */
@media screen and (min-width: 1281) {
}
