body {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}

input {
  display: none;
}

.meme {
  margin-bottom: 1rem;
}

.meme-content {
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.meme-header {
  margin-bottom: 1rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.close {
  display: none;
}

.accordion {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0059d9;
}

input:checked ~ .meme-content {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  padding: 1em;
  transform: scale(1);
}

input:checked ~ label {
  color: #1a252f;
}

input:checked ~ label > .plus {
  display: none;
}

input:checked ~ label > .close {
  display: block;
}

.meme-img {
  width: 20rem;
}

/* Mobile */
@media only screen and (min-width: 320px) {
  body {
    font-size: 1.4rem;
  }
}

/* Tablet */
@media only screen and (min-width: 820px) {
  body {
    font-size: 1.5rem;
  }

  .accordion {
    width: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 1281px) {
  body {
    font-size: 1.8rem;
  }

  .accordion {
    width: 60rem;
  }
}

@media only screen and (min-width: 1281px) and (hover: hover) {
  .meme-header:hover {
    cursor: pointer;
  }
  .meme:hover {
    cursor: pointer;
    color: #1a252f;
  }

  .meme:hover .meme-content {
    display: flex;
    justify-content: center;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .meme:hover .meme-content > img {
    transform: scale(1);
  }

  .meme:hover .plus {
    display: none;
  }

  .meme:hover .close {
    display: block;
  }
}
